* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: green;
}

.header{
    margin: auto;
    padding: 20px;
    background-color: black;
    color: white;
    border-top: 12px solid #fdb356;
    border-left: 4px solid red;
    border-right: 4px solid orange;
    border-bottom: 4px solid pink;
    justify-content: center;
    object-fit: cover;
}
.canvas {
    width: 350px;
    height: 50px;
    background-color: #5c0f5c;
    overflow:hidden;
    filter:blur(2px);
}

.frame {
    border: 2px solid black;
    width: 350px;
}

.banner {
    width: 400px;
    height: 20px;
    background-color: aqua;
}

.form-div {
    width: 400px;
    height: 20px;
    margin: 0;
    padding: 10px;
    background-color: green;
    gap: 16px;

}

.wall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
}

.label {
    border: 3px solid black;
}

.links {
    margin-left: 20px;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20;
    background-color: turquoise;
}